CRON_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

RESEND_API_KEY=
EMAIL_FROM_MAGIC_LINK=
EMAIL_FROM_PASSKEY=
RP_ID=
ISSUER=

ADMIN_EMAIL=
JWT_ALG=
OIDC_KEY_ID=
OIDC_PRIVATE_KEY=
OIDC_PUBLIC_KEY=
ACCESS_TOKEN_TTL=
ID_TOKEN_TTL=
REFRESH_TOKEN_TTL=

POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=